.about__wrapper{
    display: flex;
    column-gap: 2rem;

}

.about__content,.about__img{
    width: 50%;

}

.about__img{
    width: 50%;
height:100%;
object-fit: cover;

/* margin-top: 30px; */
}



.about__content-desc{
    margin-top: 30px; 
    color: rgb(198, 190, 190);
    margin-bottom: 20px;
}


.choose__item-wrapper{
    margin-top: 20px;
}
.choose__us-item
{
    padding: 5px;
    display: flex;
    column-gap: 1rem;
margin-top: 15px;

}

.choose__us-icon{
    width:110px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
border-radius: 5px;

}

.choose__us-icon i{
color: var(--primary-color);
font-size: 2rem;

}

.choose__us-title{
    color: #fff;
    font-weight: 500;

}
.description{
    color: var(--heading-color);
  }
.inex{
    color: var(--primary-color);
}
 
  .subcontent{
    color: aliceblue;
    font-size: 1.5rem;
    text-align: center;
    
  }

  .innercontent{
    color: var(--primary-color);
   text-align: center;
    margin-bottom: 30px;
    
  }

 .container__head{
    margin-left: 30px;
   margin-right: 30px;
 }

 .container__head{
    padding: 20px;
 }

 .subtitle_an{
   text-align: center;
    color: var(--primary-color);
    font-size: medium;
    font-weight: 400;
    margin-bottom: 20px;
 }

 .description{
    color: rgb(198, 190, 190);
    font-size: small;

 }
