.header{
    width: 100%;
    height: 80px;
    line-height: 80px;

}

.nav__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    list-style: none;
}

.menu__link{
    font-weight: 500;
    font-size: 1.0rem;
    cursor: pointer;

}

.menu__link:hover{
    color: var(--link-active);

}

.logo{
   margin-left: 50px;
    margin-top: 20px;
}